# R-specific
.Rhistory
.RData
.Rproj.user/
.Ruserdata
*.Rproj

# R build files
.Rcheck/
.Rbuildignore
.DS_Store

# devtools and build artifacts
*.tar.gz
*.pdf
/FDATSM.Rproj
.Rout
.Rout.save

# docs and site
docs/
_site/
docs
